<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
">


    <!--开启组件扫描-->
    <context:component-scan base-package="com.lagou"/>

    <!--目标类交给IOC容器-->
    <bean id="accountService" class="com.lagou.service.impl.AccountServiceImpl"></bean>

    <!--通知类交给IOC容器-->
    <bean id="myAdvice" class="com.lagou.adivce.MyAdvice"></bean>

    <!--AOP配置-->

    <aop:config>
        <!--配置切面：切入点 + 通知-->
        <aop:pointcut id="accountServiceImpl" expression="execution(* com.lagou.service.impl.AccountServiceImpl.*(..))"/>
        <aop:aspect ref="myAdvice">
            <aop:before method="before" pointcut-ref="accountServiceImpl"/>
            <aop:after-returning method="afterReturning" pointcut-ref="accountServiceImpl"/>
        </aop:aspect>


    </aop:config>

</beans>